body {
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  a {
    color: black;
  }

h1 {
    color:rgb(238, 217, 28);
    text-shadow: 4px 4px 3px rgb(207, 205, 205);
    font-size: 60px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bananaman {
    border-radius: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h3 {
    color: yellow;
    text-align: center;
}

.buttons {
    text-align: center;
}

.button {
    background-color: lightgoldenrodyellow;
    border: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.button :hover {
    background-color: yellow;
    transition: 0.5s;
  }

.closing-text {
    color:white;
    font-size: 10px;
    text-align: center;
}

.closing-text a:link {
    color:#1848e6;
}